@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); 
:root{
    
}
body{
    font-family:"Rubik", sans-serif;
    margin: 0%;
    background-color: #FAFAFA;
    padding: 0;

}

#navs{
        display: flex ;
        padding-left: 100px;
        align-items: center;
        justify-content: space-around;
        padding-top: 60px;

}

#titulo{
    color:#AAAAAA;
    font-weight: 500;
    font-size: 20px;
    margin:5px ;

}

#links a{
    color:#4F5665; 
    margin-right: 20px; 
   text-decoration: none;  
    font-weight: 400; 
}
#boton1{

    border:none; 
    background-color: transparent;
    font-weight: 700;
    font-size:16 ;
    color:#0B132A;

}
#boton2{
    color:#F53855;
    border-color:#F53855;
    font-weight: 500 ;
    font-size: 16;
    background-color: transparent;
    height: 40px;
    width: 150px;
    border-radius: 50px;

}

#b3{
    background-color: #F53838; 
    border-radius: 10px;
    color: #FFFFFF    ;
    height: 48px;
    width: 180px;
    font-weight: 700;
    margin-right: 5px;
    border-color:#F53838;
    box-shadow: ;
   
}
#padre>#seccion1>h1{
    color:#0B132A;
    font-size: 50px;
    font-weight: 500;
    
}

#seccion1{
    padding-top: 196.66px;  
    padding-left: 89px;
    height: 150px;
    width: 540px;
    display: flex;
    flex-direction: column;
}

#padre>#seccion1>p{
    color:#4F5665; 
    font-weight:400;
    font-size:16px  ;
    margin: 5px;
}

#botones{
    padding-top:40px ;
}

#padre{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    
}

#cajitas{
    display: flex;  
    justify-content: space-around;  
    padding-top: 186.66px;  
}

#caja1{
    display: flex;
    align-items: center;
}

#caja2{
    display: flex;
    align-items: center;
}

#caja3{
    display: flex;
    align-items: center; 
}



#cajitas>.caja1>h2{
    color:#0B132A;
    font-size: 25px;
    font-weight:700 ;
}
#cajitas>.caja1>p{
    color:#4F5665;
    font-size: 20px;
    font-weight:400 ;
}
#cajitas>#caja2>h2{
    color:#0B132A;
    font-size: 25px;
    font-weight:700 ;
}
#cajitas>#caja2>p{
    color:#4F5665;
    font-size: 20px;
    font-weight:400 ;
}
#cajitas>#caja3>h2{
    color:#0B132A;
    font-size: 25px;
    font-weight:700 ;
}
#cajitas>#caja3>p{
    color:#4F5665;
    font-size: 20px;
    font-weight:400 ;
}



#a{
    display: flex;
    align-items: center;
}

#b{
    display: flex;
    align-items: center;
}

#c{
    display: flex;
    align-items: center; 
}

#d{
    display: flex;
    align-items: center; 
}

#contenedor{
    
    height: 250px;
    width: 414px;
    display: flex;
    flex-direction: column;

}
#super{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#ic{
    display: flex;
}

#parte1{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}


















